* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #141C29;
    padding-top: 80px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}

img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.scroll {
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}

.scroll img {
    filter: invert(15%);
}

.scroll h1 {
    color: #141C29;
}

.carrito {
    filter: invert(100%);
    width: 45px;
    height: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav-item a:hover {
    color: #ff6347; /* Tomato color */
}

.search-bar input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.contenedor > div {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #2D4263;
    border-radius: 20px;
    flex-basis: 30%;
    padding: 10px;
    text-align: center;
}

.contenedor > div:hover {
    background-color: #11294d;
}

.informacion {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.informacion > p:first-child {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin: 5px 0;
}

.informacion .precio {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

.informacion .precio span {
    font-size: 17px;
    font-weight: 300;
}

.informacion button {
    background-color: #263143;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}

.informacion button:hover {
    background-color: #2D4263;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e5533d;
}

#carrito {
    margin: 20px;
    padding: 20px;
    border-top: 1px solid #ccc;
}

#lista-carrito {
    list-style: none;
    padding: 0;
}
